.main-product {
  width: 100%;
  height: 274px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e7ebee;
}

.jacket-container {
  position: relative;
  max-width: 173px;
  height: 274px;
  width: 100%;
}

.jacket-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: none;
}

#orange:checked ~ .jacket-container .orange_jacket,
#green:checked ~ .jacket-container .green_jacket,
#beige:checked ~ .jacket-container .beige_jacket {
  display: block;
}

.preorder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #023439;
  top: -55px;
  left: 35px;
  color: var(--main-text, #fff);
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: auto;
  height: 35px;
  margin: 0;
  padding: 10px;
  gap: 10px;
  border: 2px solid var(--text-main, #fff);
}

.preorder:hover {
  border-radius: 1px;
  border: 2px solid #023439;
  background: var(--main-text, #fff);
  color: black;
  cursor: pointer;
}

.preorder:active {
  border-radius: 1px;
  border: 2px solid var(--main-text, #fff);
  background: var(--main-brand-orange, #ed4e0a);
  color: #fff;
}

.product-choice {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  margin: 0;
  height: 274px;
  background-color: #023439;
}

.product-choice h1 {
  position: relative;
  color: var(--main-text, #fff);
  font-family: "IBM Plex Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 10px;
  left: 21px;
  margin: 0;
}

.product-choice h4 {
  position: relative;
  color: var(--main-text, #fff);
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  left: 21px;
  top: -23px;
  margin: 0;
}

.product-line {
  position: relative;
  left: 21px;
  top: -45px;
  width: 135px;
  height: 1px;
  border: 1px solid var(--main-text, #fff);
}

.product-choice img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 120px;
  object-fit: cover;
}

.product-choice label {
  display: inline-block;
  width: 62px;
  height: 28px;
  line-height: 28px; /* Vertically center text */
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  background: #023439;
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  margin: 0;
}

.product-choice label:hover {
  border-radius: 1px;
  border: 1px solid var(--main-brand-green, #023439);
  background: var(--main-text, #fff);
  color: black;
}

.product-choice label:active {
  border-radius: 1px;
  border: 2px solid var(--main-text, #fff);
  background: var(--main-brand-orange, #ed4e0a);
  color: #fff;
}

.green {
  position: relative;
  left: 21px;
  top: -40px;
}

.orange {
  position: relative;
  left: 83px;
  top: -214px;
}

.beige {
  position: relative;
  left: 145px;
  top: -388px;
}

input[type="radio"] {
  display: none;
}

.product-choice h2,
.product-choice h3,
.material,
.material-description{
  display: none;
}

@media (min-width: 600px) {
  .main-product {
    height: 957px;
    padding: 0px 0px 48px 24px;
  }

  .jacket-container {
    max-width: 662px;
    height: 856px;
    width: 100%;
  }

  .preorder {
    top: -125px;
    left: 210px;
    font-size: 40px;
    height: 95px;
    margin: 0;
    padding: 10px 20px;
    gap: 10px;
    border: 2px solid var(--text-main, #fff);
    background-color: #05535a;
    transition: 0.3s ease-out;
  }

  .product-choice {
    width: 100vw;
    gap: 26px;
    margin: 0;
    height: 856px;
    background-color: #023439;
  }

  .product-choice h1 {
    font-size: 96px;
    top: 20px;
    left: 71px;
  }

  .product-choice h4 {
    font-size: 40px;
    left: 71px;
    top: -23px;
  }

  .product-line {
    left: 71px;
    top: -35px;
    width: 361px;
    height: 2px;
  }

  .product-choice h2 {
    position: relative;
    display: flex;
    color: var(--main-text, #fff);
    font-family: "IBM Plex Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    left: 71px;
    top: -45px;
  }

  .product-choice h3 {
    position: relative;
    display: flex;
    color: var(--main-text, #fff);
    font-family: "IBM Plex Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    left: 71px;
    top: -75px;
  }

  .material {
    position: relative;
    display: flex;
    color: var(--main-text, #fff);
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    left: 71px;
    top: -75px;
  }
  .material-description {
    position: relative;
    display: flex;
    color: var(--main-text, #fff);
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    left: 71px;
    top: -105px;
  }

  .product-choice img {
    width: 240px;
    height: 296px;
  }
  
  .product-choice label {
    width: 240px;
    height: 56px;
    font-size: 28px;
  }

  .green {
    left: 71px;
    top: -100px;
  }
  
  .orange {
    left: 311px;
    top: -478px;
  }
  
  .beige {
    left: 551px;
    top: -856px;
  }
}
