/* Teknologi möter natur */

.teknik {
    background-color: #023439;
    height: 537px;
    display: flex;
    flex-direction: row;
  }
  
  .teknik-yeti {
    width: 74px;
    height: 103px;
    position: absolute; /* Placera yetin relativt till footern */
    bottom: -180%; /* Håll den längst ner i footern */
    right: 6%; /* Flytta yetin delvis utanför skärmen */
    z-index: 1; /* Säkerställ att den syns ovanpå bakgrunden */
  }
  
  .teknik-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }
  
  .teknik-button {
    display: inline-flex;
    height: 35px;
    width: 136px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 1px;
    border: 2px solid var(--text-main, #fff);
    background: var(--main-brand-green, #023439);
    margin-bottom: 12px;
    padding: 0px;
  }
  
  .teknik h4 {
    color: var(--text-main, #fff);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .teknik p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-main, #fff);
  }
  
  .teknik-description {
    width: 191px;
  }
  
  .teknik h1 {
    color: var(--main-brand-orange, #ed4e0a);
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .teknik-top {
    background-color: #ffffff;
    height: 48px;
  }
  
  